@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

/* width */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 3px;
  height: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #162242ed;  */
  background: #ccb !important;
  border: 3px solid #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

body {
  -webkit-print-color-adjust: exact !important;
}

@page {
  size: A4 landscape;
  margin: 0;
}

.MuiInputBase-root {
  border-radius: 40px !important;
}

form .MuiButtonBase-root:not(.MuiButton-text) {
  border-radius: 30px !important;
}
form .Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 1px solid #0000003b !important;
}
.MuiOutlinedInput-notchedOutline {
  border-color: #697a86;
}

.papper_wrapper {
  width: 100%;
  overflow: scroll;
}

button:hover,
:active,
:focus,
::after {
  background: none;
  box-shadow: none !important;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  /* new scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
